<div class="ui grid">
  <div class="twelve column centered row">
    <div class="column">
      <h1><%= "#{heading}" %></h1>
    </div>
  </div>
  <div class="twelve column centered row">
    <div class="column">
    <%= form_with model: user do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="twelve column centered row">
    <div class="column">
      <button><%= link_to 'Back',home_path %></button>
    </div>
  </div>
  <div class="twelve column centered row">
    <div class="column">
      <p><%= "#{error}" %></p>
    </div>
  </div>

</div>
