<%= render partial: "layouts/menu" %>
  <div class="ui grid">
    <div class="three column centered row">
      <h1>Previous Rap Battles</h1>
    </div>
    <div class="three column centered row">
      <h2>Total number of trashtalks so far: <%=Rapbattle.total_trashtalks%></h2>
    </div>
    <div class="three column centered row">
        <h2>Leader with most Trashtalk points is: <%= Rapbattle.find_leader %></h2>
    </div>
    <div class="three column centered row">
        <h2>Most popular trash talk is: <%= Rapbattle.most_popular_trash %></h2>
    </div>
  </div>
  <div class="ui grid">
    <% @rapbattles.to_a.each_with_index do |r,index| %>


    <div class="four wide column">
      <div class="ui card">
        <h1>Rap Battle <%= "#{index + 1}" %></h1>
        <h2>Challenger: </h2>
        <p><%= r.challenger.name %>: <%=r.challenger_points%></p>
        <h2>Challengee: </h2>
        <p><%=r.challengee.name %>: <%=r.challengee_points %></p>
        <br>
        <p>Winner: <%= r.winner.name %> </p>
      </div>
    </div>

    <% end %>
  </div>
