<%= render partial: "layouts/menu" %>

<div class="ui grid">

  <div class="five wide column">
  </div>
  <div class="six wide column">
    <h1>RapBattle Outcome</h1>
  </div>
  <div class="five wide column">
  </div>

  <div class="three wide column">
  </div>
  <div class="five wide column">
    <h2>Challenger: </h2>

    <p><%= @challenger.name %></p>
    <%=image_tag("profiles/#{@challenger.imgurl}") %>
    <h2>Challenger points: </h2>
    <p><%= @newrapbattle.challenger_points %></p>
  </div>
  <div class="five wide column">
    <h2>Challengee: </h2>
    <p><%=@challengee.name %></p>
    <%=image_tag("profiles/#{@challengee.imgurl}") %>
    <h2>Challenger points: </h2>
    <p><%= @newrapbattle.challengee_points %></p>
  </div>
  <div class="three wide column">
  </div>



  <div class="three wide column">
  </div>
  <div class="five wide column">
    <h2>Challenger's TrashTalk</h2>
    <% @challenger_insults.each do |c| %>
    <p class="redtext"><%= c %></p>
    <% end %>
  </div>
  <div class="five wide column">
    <h2>Challengee's TrashTalk</h2>
    <% @challengee_insults.each do |c| %>
    <p class="redtext"><%= c %></p>
    <% end %>
  </div>
  <div class="three wide column">
  </div>

  <div class="three wide column">
  </div>
  <div class="six wide column">
    <h3>Winner of this round was: <%= @newrapbattle.winner.name %>  </h3>
  </div>
  <div class="three wide column">
  </div>
</div>
