<%= render partial: "layouts/menu" %>
<div class="ui grid">
  <div class="three wide column">
  </div>
  <div class="ten wide column">
    <h1>All of the Towns available for Rap Battles</h1>
  </div>
  <div class="three wide column">
  </div>


  <% @towns.each do |t| %>
    <div class="eight wide column">
      <div class= "ui card">
    <p>City:</p>
    <p><%= t.name %></p>
    <%=image_tag("Cities/#{t.imgurl}") %>
    <%=t.imgurl%>
    <h2>Venues for this city</h2>
    <% t.venues.each do |v| %>
      <p><%= v.name %></p>
    <% end %>
      </div>
    </div>
  <% end %>

</div>
