<div class="ui menu">
  <div class="header item">
    Welcome to Rap Battles
  </div>
  <button class="ui secondary button">
    <%= link_to 'Home', users_path %>
  </button>
  <button class="ui secondary button">
    <%= link_to "See Venues", venues_path %>
  </button>
  <button class="ui secondary button">
    <%= link_to "See Cities", towns_path %>
  </button>
  <button class="ui secondary button">
    <%= link_to "See Trashtalks", trashtalks_path %>
  </button>
  <button class="ui secondary button">
    <%= link_to "See Rapbattles", rapbattles_path %>
  </button>
  <button class="ui secondary button">
    <%= link_to "Battle a Rapper", new_rapbattle_path %>
  </button>
  <button class="ui secondary button">
    <%= link_to "Profile", edit_user_path(User.find_by(id: session[:user_id])) %>
  </button>
  <button class="ui secondary button">
    <%= link_to "Log Out", logout_path, method: :delete %>
  </button>
</div>
